*.swp
*.pdf
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.mat
*.dat
*.fig
.*txt

tutorials/tutorial_results/*mat
startup.m
.DS_Store
2D_poisson
Slepian
analytical
archive
biSphericalSebastian
bretherton
coaxial_jets
courses
dengwirda-mesh2d-9976b77
droplet_simulations
easystab
geometry/spherePlusNLegendreCartesian.m
geometry/spherePlusNLegendreCurvilinearAsymmetric.m
graphsForThesis/
mex_files/Stokes2DAxisSPlinesLinearNoDouble.mexmaci64
mex_files/Stokes2DAxisSPlinesLinearOnlySingle.mexmaci64
mex_files/bug_and_old
nsht
plotFun
polarch-Spherical-Harmonic-Transform-4f4cf39
postprocessing_ulambator
splineDifferentiation
stability
test
